{
  "printWidth": 120,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react",
    "^ui",
    "^@?\\w",
    "^(@components)(/.*|$)",
    "^\\u0000",
    "^\\.\\.(?!/?$)",
    "^\\.\\./?$",
    "^\\./(?=.*/)(?!/?$)",
    "^\\.(?!/?$)",
    "^\\./?$",
    "^.+\\.?(css)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
