.next
.turbo
coverage
dist
compiled
build-next-static
build-storybook-static
/voldemort-web-static
**/*.svg
package.json
/dist
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
CNAME
/build
/public
*.otf
*.jpg
*.ttf
.cache
.turbo